<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr id="comment_count">
          <%= render 'book_comments/comment_count', book: @book %>
        </tr>
      </table>
      <table>
        <tr>
          <% @book.book_comments.each do |book_comment| %>
            <td>
              <%= link_to(@book.user) do %>
                <%= image_tag book_comment.user.get_profile_image(100,100) %><br>
                <%= book_comment.user.name %>
              <% end %>
            </td>
            <td>
              <%= book_comment.comment %>  
            </td>
            <td>
              <% if book_comment.user == current_user %>
               <%= link_to 'Destroy', book_book_comment_path(book_comment.book, book_comment), class:'btn btn-sm btn-danger', method: :delete %>
              <% end %> 
            </td>
          <% end %>
        </tr>
      </table>
      <table>
        <tr id="comments_table">
          <%= render 'book_comments/book_comments', book: @book %>
        </tr>
      </table>        
      <div class="comment_form">
        <%= form_with model: [@book, @book_comment], local: false do |f| %>
         <%= f.text_area :comment, rows: '5' %><br>
         <%= f.submit "送信" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>